<div class="row">
	<center>
		<h1><%= link_to "Rails3 Devise Rspec Cucumber", root_path, :class => 'brand' %></h1>
	</center>
</div>
<div class="row">
	<ul class="breadcrumbs">
	  <% if user_signed_in? %>
	    <li><%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %></li>
	    <li><%= link_to 'Edit account', edit_user_registration_path %></li>
	  <% else %>
	    <li><%= link_to 'Login', new_user_session_path %></li>
	    <li><%= link_to 'Sign up', new_user_registration_path %></li>
	  <% end %>
	</ul>
</div>